{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}
<section class="py-6">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Conditions générales de ventes</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row d-flex mb-5 align-items-center">

            <div class="container">

            <h1>Conditions générales de vente </h1>
            <p>Les présentes conditions générales de vente et d’utilisation sont portées à la connaissance de chaque acheteur pour lui permettre de passer commande. Le fait de passer commande implique l’acceptation entière et sans réserve du client à ces conditions générales de vente. </p>

            <p><strong>ARTICLE 1 : Nature des prestations et conditions financières</strong></p>
            <p>Les tarifs et les conditions d’accès au buffet au sein de l’espace privatif sont ceux stipulés sur le site internet au moment de la réservation et dans les conditions générales de vente. La mise à disposition d’un espace privatif au sein du café est uniquement sur réservation et paiement préalable. </p>
            <p>Les prix pratiqués par Gusto Coffee sont indiqués sur le site internet au moment de la réservation. Ils sont affichés en euros (€) toutes taxes comprises (TTC). Conformément à la TVA de service, les prix inclus un taux de 20%.</p>

            <p><strong>ARTICLE 2 : Réservation</strong></p>

            <p>L’accès au buffet Gusto Coffee au sein d’un espace privatif est soumis à la réservation et à son paiement préalable.
            Toutes les réservations sont effectuées depuis le site internet et selon les disponibilités affichées sur celui-ci. La réservation n’est ferme et définitive qu’après réception de l’email de confirmation de réservation, lequel est envoyé à l’acheteur à l’issue du processus de paiement. </p>
            <p>Seuls les paiements par carte de crédit sont acceptés sur le site internet. Si l’acheteur ne peut régler le montant de la réservation par carte bancaire, il devra dans un premier temps en informer le personnel et se présenter à l’accueil avant le jour de la réservation afin de régler le montant par carte de crédit ou espèces (en euros) et de bloquer le créneau horaire souhaité. </p>
            <p>Aucune réservation ne peut être annulée ou remboursée sauf dans le cadre d’une annulation du seul fait de Gusto Coffee. Dans ce dernier cas, le montant de la réservation initiale sera remboursé. </p>
            <p><strong>ARTICLE 3 : Durée et horaires de la manifestation</strong></p>
            <p>La durée de l’accès a l’espace privatif sera conforme aux horaires convenues au moment de la réservation. L’arrivée et le départ devront intervenir selon le créneau horaire convenu lors de la réservation. Pour tout dépassement d’horaires non prévu, un supplément sera facturé selon la durée de dépassement. </p>

            <p><strong>ARTICLE 4 : Annulation de la réservation</strong></p>
            <p>En cas d’annulation de la location et quelle qu’en soit la cause, Gusto Coffee conservera en guise de frais d’annulation : Plus de 72 heures ouvrées avant la réservation : déplacement pour une date, sans frais. Entre 0 et 72 heures ouvrées avant la réservation : somme due = 100% du prix TTC. Gusto Coffee ne procédera à aucun remboursement. </p>

            <p><strong>ARTICLE 5 : Données personnelles</strong></p>
            <p>L’acheteur est responsable de l’exactitude des informations saisies sur le formulaire de réservation. L’acheteur qui saisit ses coordonnées téléphoniques sur le site internet de Gusto Coffee accepte d’ores et déjà d’être contacté par Gusto Coffee ou toute autre société du groupe et ce par téléphone ou SMS. Gusto Coffee s’engage à ne pas transmettre les données personnelles de ses utilisateurs à une société extérieure au groupe Gusto Coffee, hors requête d’une autorité habilitée par la loi et dans le cadre des dispositions légales en vigueur. </p>

            <p><strong>ARTICLE 6 : Forfaits</strong></p>
            <p>La souscription au forfait semaine ou forfait mois Gusto Coffee peut s’effectuer uniquement à l’accueil de l’un de nos établissements. </p>
            <p>La durée minimale de souscription est de 5 jours pour les Forfaits Semaine et de 30 jours pour les Forfaits Mensuels à compter du 1er jour de souscription. Les personnes ayant souscrit au forfait semaine ou mensuel pourront renouveler leur forfait à la fin de la période ou passeront automatiquement sur l’offre fidélité (gratuite). </p>
            <p>La création d’un compte client strictement personnel, est matérialisée par la délivrance d’une carte magnétique numérotée et associée au compte client comportant les nom, prénom et adresse mail du client. Le règlement s’effectue à l’accueil de nos établissements et les forfaits sont payables d’avance par carte bancaire ou espèces seulement. </p>

            <p><strong>ARTICLE 7 : Offres entreprises</strong></p>
            <p>Frais de gestion et remises commerciales :
                Panier mensuel : Moins de 300 € ht = 20 € ht / mois frais de gestion. Entre 300 € ht et 500 € ht = frais de gestion offert. Entre 500 € ht et 1000 € ht = frais de gestion offert + 10 % remise. Plus de 1000 € ht = frais de gestion offert + 20 % remise. Nos tarifs supportent une TVA de 20%. Facturation : Une facture mensuelle sera envoyée le 1er de chaque mois récapitulant l’ensemble des réservations effectuées sur la plateforme le mois précédent. Paiement : SEPA. Prélèvement la semaine suivante la réception de la facture. Condition d’annulation des salles de réunion : Toute réservation sera définitive et due 72 heures avant le début de celle-ci. Passé ce délai, elle ne peut être ni annulée, ni échangée, ni remboursée. Engagement : Les offres entreprises Gusto Coffee sont sans engagements. Dès le mois suivant elles peuvent prendre fin à la demande écrite du client. </p>
            <p>Restauration sur place : Nos tarifs comprennent, sans supplément, l’accès à notre bar, à nos boissons chaudes et froides, ainsi qu’à notre buffet snacks. Engagement : Les offres entreprises Gusto Coffee sont sans engagements. Dès le mois suivant elles peuvent prendre fin à la demande écrite du client. </p>

            <p><strong>ARTICLE 8 : Contestation</strong></p>
            <p>Toute contestation relative aux présentes prestations relève de la seule compétence des tribunaux de Paris. </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
