{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<section class="py-6">
    <div class="container">
        <h1>Page non trouvée</h1>
        <p>La page que vous cherchez n'a pas été trouvée.</p>
    </div>
</section>
{% endblock %}
