{% extends 'base.html.twig' %}

{% block title %}Erreur de serveur{% endblock %}

{% block body %}
    <section class="py-6">
        <div class="container">
            <h1>Le site ne parvient pas à afficher cette page</h1>
            <p>Il se peut que le site soit en cours de maintenance ou qu'une erreur de programmation se soit produite.</p>
        </div>
    </section>
{% endblock %}
