{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <section class="py-6">
        <div class="container">
            <h1>Accès à la page web refusé</h1>
            <p>Vous n'êtes pas autorisé à accéder à la page web.</p>
        </div>
    </section>
{% endblock %}
